lab10_Bert+CNN文本分类/code/aclIdmb/
lab10_Bert+CNN文本分类/code/bert-base-cased/

lab9_Bert的使用/code/bert-base-cased/
lab9_Bert的使用/code/bert-base-cased (2).z01
lab9_Bert的使用/code/bert-base-cased (2).z02
lab9_Bert的使用/code/bert-base-cased (2).zip

lab8_GloVe+CNN文本分类/code/aclIdmb/

lab6_手写识别/code/data/